*{
    padding: 0;
    margin: 0;
}
body{
    background-color:wheat;
    border-top: solid 2px rgb(250, 175, 90);
    margin: 5px auto;
}
header{
    background-color: greenyellow;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px rgb(250, 175, 90) ;
}
section
{  margin-top: 50px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px 50px;
}
article{
    line-height: 25px;
    text-align: justify;
    font-size: 18px;
}
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.date{
    text-transform: uppercase;
    font-style: oblique;
    font-size: 15px;
    margin-top: 30px;
}
nav>ul>li{
    display: inline;
    font-size: 20px;
    padding:5px 15px ;
}
nav>ul>li>a{
    text-decoration: none;
}

#name{
    margin-top: 100px;
    font-size: 50px;
    font-family: serif;
}
#LION{
    margin-top:45px ;
    margin-left: 20px;
    margin-right: 25px;
    width: 500px;
    height: 400px;
    float: left;
}
p{ margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

}
div>ul>li>a{
    margin-right: 10px;
}
#clear{
    clear: left;
    padding: 10px 30px;
    
}
#pp{
    padding-left: 30px;
    
}
#ques{
    border-bottom: solid 1px black;
    padding-bottom: 30px;
}
#last{
    font-family: cursive;
    padding-top: 60px;
}

.contactmain{
    display: flex;
    padding: 25px;
    margin: 100px 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#map{
    padding-top: 30px;
    height:600px;
    width: 600px;
}
.map{
    margin-left: 175px;
}
.form{
    padding-top: 10px;
 
}
input[type = "submit"]{
    width: 100px;
    height: 50px;
}

#Chap{
    margin-top:45px ;
    margin-left: 20px;
    margin-right: 25px;
    width: 300px;
    height: 400px;
    float: left;
}
#copar{
    margin-top: 50px;
    padding-bottom: 250px;
    border-bottom: solid 1px black;
}
#cleared{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-size: 25px;
    margin-left: -27px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-transform: uppercase;
    font-weight: lighter;
    
}
#links{
    padding-bottom: 2px;
    border-bottom: solid 1px black;
}
#cred{
    padding-bottom: 2px;
    border-bottom: solid 1px black;

}
#coparH{
    margin-top: 50px;
    padding-bottom: 205px;
    border-bottom: solid 1px black;
}
#list{
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}
#inside{
    display: block;
    margin-left: 4%;
}
#insides{
    display: block;
    margin-left: 8%;
}
.work{
    padding: 10px 2px;
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#work{
    padding-bottom: 10px;
    border-bottom: solid 1px black;

}
.skill{
    padding: 15px;
}

.heading3{
    text-transform: uppercase;
    font-size:20px ;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 1px black;
    padding-bottom: 5px;
    padding-top: 20px;
    padding-left: 30px;
    width: 100%;
}

img{
    width: 30%;
    padding-top: 10px;
    float: left;
    margin: 1.6%;

}