.Eth{
    margin: 10px;
    
}
#g{
    width: 30px;
    height: 10px;
    background-color: green;
    
}
#y{
    width: 30px;
    height: 10px;
    background-color: yellow;
}
#r{
    width: 30px;
    height: 10px;
    background-color:red;
}

.Net{
    margin: 10px;
    
}
#rf{
    width: 30px;
    height: 10px;
    background-color:red;
}
#w{
    width: 30px;
    height: 10px;
    background-color:white;
}
#b{
    width: 30px;
    height: 10px;
    background-color:blue;
}
.Egy{
    margin: 10px;
}
#re{
    width: 30px;
    height: 10px;
    background-color:red;
}
#we{
    width: 30px;
    height: 10px;
    background-color:white;
}
#bl{
    width: 30px;
    height: 10px;
    background-color: black;
}
